SERVER_PORT=8083
APP_SEED_DEMO_DATA=false
DB_URL=jdbc:postgresql://localhost:5434/ledgerdb
DB_USERNAME=ledgeruser
DB_PASSWORD=ledgerpassword
JPA_DDL_AUTO=update
JPA_SHOW_SQL=true
JWT_SECRET=BkBankLedgerSecretKey2025VeryLongSecretKey12345678
JWT_EXPIRATION=86400000
SYSTEM_API_KEY=bkbank-internal-system-api-key-2025
CMS_URL=http://localhost:8082
CMS_INTERNAL_API_KEY=jpos-to-cms-secret-key-2025
